<section class="content">
  <br>
  <div class="row">
    <% %w(Users Books).each do |item| %>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-<%= item == "Users" ? "red" : "green" %>">
        <div class="inner">
          <h3><%= item == "Users" ? @users.count : @books.count %></h3>
          <p class="text-capitalize"><%= item %></p>
        </div>
        <div class="icon">
          <i class="fa fa-<%= item == 'Users' ? "users" : "book" %>"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to(books_new_path, method: :get, class: "btn btn-primary") do%>
    <i class="fa fa-plus-circle text-white" aria-hidden="true"></i>&nbsp; New Book
  <% end %>
  &nbsp;
  <%= link_to(category_new_path, method: :get, class: "btn btn-primary") do%>
    <i class="fa fa-plus-circle text-white" aria-hidden="true"></i>&nbsp; New Category
  <% end %>
</section>
