<div class="login-box">
  <div class="login-logo">
    <h1>Book Shelf</h1>
  </div>
  <div class="login-box-body">
    <div class="row">
    </div>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <div class="actions">
        <%= f.submit "Sign in", class:'btn btn-primary' %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'Sign up', new_user_registration_path, method: :get, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
