<section class="content">
  <h2>Categories</h2>
  <br>
  <% unless @categories.empty? %>
  <div class="box-body no-padding">
    <table class="table">
      <tbody>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Total Books</th>
        </tr>
        <% @categories.each_with_index do |category, index| %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <td><%= link_to category.name, category_path(category.id), method: :get %></td>
          <td>
            <%= category.books.count %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="warning">No records!</p>
  <% end %>
</section>
