<section class="content">
  <h2>Add a Category</h2>
  <div class="row">
    <div class="col-md-5">
      <%= bootstrap_form_for @category do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, autofocus: true, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :description, label: 'Description' %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Add Category', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
