<section class="content">
  <h2><%= @category.name %></h2>
  <p><%= @category.description %></p>
  <br>
  <% unless @books.empty? %>
  <div class="box-body no-padding">
    <table class="table">
      <tbody>
        <tr>
          <th>S.No</th>
          <th>Cover</th>
          <th>Title</th>
          <th>Author</th>
          <th>Added by</th>
        </tr>
        <% @books.each_with_index do |book, index| %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <% if book.image.present? %>
          <td><%= image_tag book.image.url, width: '75px', height: '100px' %></td>
          <% else %>
          <td>None</td>
          <% end %>
          <td>
            <%= book.title %>
          </td>
          <td>
            <%= book.author %>
          </td>
          <td><%= link_to book.user.username, user_show_path(book.user.id), method: :get %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="warning">No records!</p>
  <% end %>
</section>
