<section class="content">
  <h2>Edit Profile</h2>
  <div class="row">
    <div class="col-md-5">
      <%= bootstrap_form_for @user, url: update_user_path(@user) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, autofocus: true, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :location %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :tagline, label: 'Tagline' %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :bio, label: 'Bio' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :website, label: 'Website' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :twitter_username, label: 'Twitter Username' %>
        </div>
        <div class="col-md-6">
          <%= f.file_field :image, label: 'Profile Picture', class: 'btn btn-default' %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Update User', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
