<section class="content">
  <h2>Users</h2>
  <br>
  <% unless @users.empty? %>
  <div class="box-body no-padding">
    <table class="table">
      <tbody>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Total Books</th>
        </tr>
        <% @users.each_with_index do |user, index| %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <td><%= user.name %></td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.books.count %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="warning">No records!</p>
  <% end %>
</section>
