<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-blue">
          <div class="widget-user-image">
            <%= image_tag @user.image.url, class: "img-circle" if @user.image.present? %>
          </div>
          <h3 class="widget-user-username"><%= @user.name %></h3>
          <h5 class="widget-user-desc"><%= @user.tagline %></h5>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @user.books.count %></h5>
                <span class="description-text">BOOKS</span>
              </div>
            </div>
            <% if @user == current_user %>
            <div class="description-block">
              <%= link_to(edit_user_path(@user), method: :get, class: "btn btn-default") do%>
              <i class="fa fa-pencil text-white" aria-hidden="true"></i>&nbsp; Edit Profile
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <% if @user == current_user %>
          <h3 class="box-title">About Me (<%= @user.username %>)</h3>
        <% else %>
          <h3 class="box-title">About
            <%= @user.name %>
            (<%= @user.username %>)</h3>
          <% end %>
        </div>
        <div class="box-body">
          <strong>
            <i class="fa fa-user margin-r-5"></i>
            Bio</strong>
          <p class="text-muted"><%= @user.bio %></p>
          <hr>
          <strong>
            <i class="fa fa-map-marker margin-r-5"></i>
            Location</strong>
          <p class="text-muted"><%= @user.location %></p>
          <hr>
          <strong>
            <i class="fa fa-link margin-r-5"></i>
            Website</strong>
          <p class="text-muted">
            <a href="<%= @user.website %>"><%= @user.website %></a>
          </p>
          <hr>
          <strong>
            <i class="fa fa-twitter margin-r-5"></i>
            Twitter</strong>
          <p class="text-muted">
            <a href="https://www.twitter.com/<%= @user.twitter_username %>"><%= @user.twitter_username %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
