<div class="login-box">
  <div class="login-logo">
    <h1>
      <u>BOOK SHELF</u>
    </h1>
  </div>
  <div class="login-box-body">
    <div class="row"></div>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.text_field :username %>
    <%= f.text_field :name %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <div class="actions">
      <%= f.submit "Sign up", class:'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
