<section class="content">
  <h2>Add a Book</h2>
  <div class="row">
    <div class="col-md-5">
      <%= bootstrap_form_for @book do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :title, autofocus: true, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :author, label: 'Author' %>
        </div>
        <div class="col-md-6">
          <%= f.collection_select :category_id, Category.order(:name),:id,:name, required: true, include_blank: 'None' %>
        </div>
        <div class="col-md-6">
          <%= f.file_field :image, label: 'Cover', class: 'btn btn-default' %>
        </div>
        <div class="col-md-6">
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Add Book', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
