/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap
 *= require AdminLTE.min
 *= require rails_bootstrap_forms
 *= require morris
 *= require _all-skins
 *= require jquery-ui
 */
@import "bootstrap-sprockets";

.dropdown-menu>li>a>.glyphicon, .dropdown-menu>li>a>.fa, .dropdown-menu>li>a>.ion {
  margin-right: 10px;
  width: 19px;
}

th {
  background: #d2d6de;
  color: #222d32;
  border-top: none !important;
  border-bottom: 1px solid #bcc;
}

.table > thead > tr > td, .table > tbody > tr > td{
  border-bottom: 1px solid #d2d6de;
}

.input-group {
  .input-group-addon {
    border-color: #c2c6ce!important;
    background-color: #d2d6de!important;
  }
  > .input-group-addon:first-child {
    font-weight: bold;
  }
}

.compact {
  .checkbox, .radio {
    width: 50%;
    display: inline-block;
  }
  label.control-label {
    display: block;
    margin-bottom: 5px;
  }
}

.radio, .checkbox {
  margin: 0 0 15px 0!important;
  > label {
    padding-left: 0px!important;
    > div {
      margin-right: 6px;
    }
  }
}

label.control-label {
  font-size: 15px;
  color: #333;
  margin-top: 13px;
}

.alert-success {
  background-color: #55a65a !important;
  border-radius: 0;
}

.dropdown-menu {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .275)!important;
  border-color: rgba(0, 0, 0, .1)!important;
  border-radius: 1px!important;
}
.skin-blue .main-header .logo {
  background-color: #192022!important;
  color: #bdc3c7!important;
}
.skin-blue .main-header .navbar {
  background-color: #222d32!important;
}

.sidebar-menu>li .label, .sidebar-menu>li .badge {
  font-size: 11px;
  line-height: 12px;
  padding: 2px 5px 2px 5px;
  vertical-align: middle;
}

.box-body table {
  background-color: #fff;
}

.role-rule {
  label.control-label{
    display: none;
  }
  input[type=number]{
    padding: 2px 10px;
    height: 24px;
  }
}

.alert > ul {
  padding: 0;
  list-style-type: none;
}

.col-right {
  border-left: 1px solid rgba(0,0,0,.1);
  min-height: 70vh!important;
}

.logs {
  border-top: 2px solid #aaa;
  .log-item {
    font-size: 12px;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #bbb;
  }
}

.smart-listing {
  > .content {
    min-height: inherit;
    padding-left: 0;
  }
}

.alert {
  &.flash-alert {
    margin: 5px 15px;
    border-radius: 0px;
    text-transform: capitalize;
  }
  &.alert-alert {
    background-color: red;
    color: white;
  }
  &.alert-notice {
    background-color: #00a65a;
    color: white;
  }
}

.rails-bootstrap-forms-error-summary {
  margin-top: 0!important;
}

.form-control.display {
  border-width: 0 0 1px 0;
}

.below-label-hint {
  margin-top: -5px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #666;
  font-style: italic;
}

.corp-name-back {
  i {
    font-size: 15px;
    color: #999;
  }
  font-size: 13px;
  display: block;
  margin-top: -5px;
}

.logo-lg {
  img {
    height: 27px;
    opacity: .85;
  }
}

.logo-mini {
  img {
    height: 27px;
    opacity: .85;
  }
}

.bg-white {
  background: white;
}

.table.table-compact {
  td {
    border-top: 0px solid #f4f4f4;
    padding: 5px 5px 5px 5px;

    .checkbox{
      margin-bottom: 0!important;
    }
  }
}

.text-transparent {
  color: transparent!important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff!important;
  background-image: none;
  color: rgb(0, 0, 0);
}

.ui-sortable-placeholder {
  border: 1px dashed #aaa;
  background-color: #fff;
  height: 20px;
  margin-bottom: 10px;
}

.sort-container {
  .sortable {
    display: list-item;
    background-color: #f9ffff;
    list-style: none;
    padding: 0!important;
  }
  .corp-role-item-add, .corp-role-item {
    text-align: center;
    font-size: 16px;
    display: block;
    border: 1px dashed #999;
    background-color: #f2f6fd;
  }
  .corp-role-item-add, form {
    padding: 7px 15px;
    background-color: #ddd;
    cursor: pointer;
    margin-top: 19px;
    border: 1px solid #aaa;
  }
  form {
    padding-bottom: 12px;
  }
  .corp-role-item {
    padding: 10px 5px;
    cursor: -webkit-grabbing;
    border-bottom: 0;
  }
  .corp-role-item:last-child {
    border-bottom: 1px dashed #999;
  }
}
.dropdown-menu.user-dropdown {
  text-align: right;
  width: 200px!important;
  > li {
    > a {
      padding: 8px 14px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.content-header {
  padding-top: 0px!important;
  text-transform: uppercase;
}

.btn-delete-right {
  float: right;
  margin-top: -35px;
  margin-bottom: 35px;
}
