<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-book"></i>
          <span>Books</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-left"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to(books_new_path, method: :get) do%>
            <i class="fa fa-plus text-green"></i>
            Add Book
            <% end %>
          </li>
          <li>
            <%= link_to(books_path, method: :get) do%>
            <i class="fa fa-circle-o text-blue"></i>
            All Books
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-left"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to(users_path, method: :get) do%>
            <i class="fa fa-circle-o text-yellow"></i>
            All Users
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Category</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-left"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to(categories_path, method: :get) do%>
            <i class="fa fa-circle-o text-green"></i>
            All Categories
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
