<header class="main-header">
  <%= link_to root_path, class: "logo", method: :get do %>
  <span class="logo-mini">
    <b>BS</b>
  </span>
  <span class="logo-lg">
    <b>Book Shelf</b>
  </span>
  <% end %>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-xs">
              <% if current_user.image.present? %>
              <%= image_tag current_user.image.url, class: "img-circle", width: '25px', height: '25px' %>
              <% else %>
              <i class="fa fa-user" aria-hidden="true"></i>
              <% end %>
              &nbsp;<%= current_user.name %>
            </span>
          </a>
          <ul class="dropdown-menu user-dropdown">
            <li>
              <%= link_to 'My Profile', user_show_path(current_user.id), method: :get %>
            </li>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
