<!DOCTYPE html>
<html>
  <head>
    <title>Book Shelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'adminlte', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/aside' %>

      <div class="content-wrapper">
        <%= yield %>
      </div>
      <!-- Content Wrapper. Contains page content -->

      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b>
          1.0.0
        </div>
        <center>
          <strong>Made with
            &nbsp; <i class="fa fa-heart" aria-hidden="true"></i>
            &nbsp; under &nbsp;<a href="https://creativecommons.org/">Creative Commmons License</a> &nbsp;
            <i class="fa fa-creative-commons" aria-hidden="true"></i>
            &nbsp;</strong>
        </center>
      </footer>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
  </body>
</html>
