<!DOCTYPE html>
<html>
  <head>
    <title>Book Shelf</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'adminlte', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
